﻿@model IEnumerable<ClinicaVeterinaria_RicardoCavaco.Models.Animal>

@{
    ViewBag.Title = "Animais";
}

<h2>Animais Registados</h2>

<p>
    @Html.ActionLink("Registar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
    </tr>
}

</table>
