﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="../css/normalize.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="../css/estilos.css" rel="stylesheet" type="text/css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="container-fluid">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>
            </div>

            <div id="navbar" class=" collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li id="iconhome"><span class="glyphicon glyphicon-home" aria-hidden="true"/></li>
                    <li>@Html.ActionLink("Clinica CET30", "Index", "Home", new { area = "" }, new { @class = "navbar-brand active" })</li>
                    @if (Context.User.Identity.IsAuthenticated && Context.User.IsInRole("Admin"))
                    {

                        <li>@Html.ActionLink("Clientes", "Index", "Clients")</li>
                        <li>@Html.ActionLink("Animais", "Index", "Animals")</li>
                        <li>@Html.ActionLink("Veterinários", "Index", "Vets")</li>
                        <li>@Html.ActionLink("Consultas", "Index", "Appointments")</li>
                        <li>@Html.ActionLink("Alertas", "Index", "Alerts")</li>

                    }
                    @if (Context.User.Identity.IsAuthenticated && !Context.User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Consultas", "Index", "ClientAppointments")</li>
                        <li>@Html.ActionLink("Registar Animais", "Index", "ClientAnimals")</li>
                    }
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Acerca", "About", "Home")</li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>

        </div>

    </nav>

    @RenderBody()

    <footer id="footer" class="navbar-fixed-bottom">

        <p>Todos os direitos reservados por Ricardo Cavaco, &copy; &reg; &trade; 2018</p>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
