﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Erro";
}

<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Um erro aconteceu ao processar o seu pedido! Pedimos Desculpa!</h2>

