﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Conta Bloqueada";
}

<hgroup>
    <h1 class="text-danger">Conta Bloqueada.</h1>
    <h2 class="text-danger">Esta conta foi bloqueada, por favor tente novamente mais tarde.</h2>
</hgroup>
