﻿@model IEnumerable<ClinicaVeterinaria_RicardoCavaco.Models.Animal>

@{
    ViewBag.Title = "Índice";
}

<h2>Índice</h2>

<table class="table">
    <tr>
        <th>
            Dono
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Specie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.AnimalID }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.AnimalID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.AnimalID })
        </td>
    </tr>
}

</table>
