﻿@model ClinicaVeterinaria_RicardoCavaco.Models.Alert

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Detalhes do Alerta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAlert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAlert)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AlertID }) |
    @Html.ActionLink("Voltar ao índice", "Index")
</p>
