﻿@model IEnumerable<ClinicaVeterinaria_RicardoCavaco.Models.Alert>

@{
    ViewBag.Title = "Índice";
}

<h2>Índice</h2>

<p>
    @Html.ActionLink("Gerar Alertas", "Generate")
</p>
<table class="table">
    <tr>
        <th>
            Cliente
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlertType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfAlert)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlertType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfAlert)
                </td>
                <td>
                    @Html.ActionLink("Detalhes", "Details", new { id = item.AlertID }) |
                    @Html.ActionLink("Apagar", "Delete", new { id = item.AlertID })
                </td>
            </tr>
        }
    }

</table>
