﻿@{
    ViewBag.Title = "Clínica Veterinária | Acerca";
}
<h2>Acerca</h2>
<h3>@ViewBag.Message</h3>


<div class="container">

    <h1 class="h1">Saiba mais sobre este projeto!<br><br></h1>

    <div class="container col-md-7">
        <p>Este projeto que foi elaborado, inicialmente, por dois formandos:</p>
        <p>Eu, Ricardo Cavaco, e o meu colega formando, Nuno Serrano.</p>
        <p>Este projeto website será um projeto individual que terá base no projeto original, tanto para design como funcionalidades.</p>
        <br><br><br>
        <p>Última data de modificação: 27/03/2017 (dd-mm-yyyy)</p>
    </div>
    <div class="container col-md-5" style="background: #157f8e;border-radius: 15px;padding: 10px;">
        <h3 class="h3 social" style="color: #f2f2f2;text-align: center">Veja onde estamos!</h3>
        <div style="text-align: center">
            <a id="a1" href="www.facebook.com/r.php" class="fa fa-facebook" target="_blank"></a>
            <a id="a2" href="https://twitter.com/login" class="fa fa-twitter" target="_blank"></a>
            <a id="a3" href="https://plus.google.com/+google" class="fa fa-google" target="_blank"></a>
            <a id="a4" href="https://www.rss.com/" class="fa fa-rss" target="_blank"></a>
        </div>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="container img-responsive" id="cinel" style="margin-bottom:100px">
    </div>

</div>
