﻿@{
    ViewBag.Title = "Clínica Veterinária | Contacto";
}
<h2>Contactos</h2>
<h3>@ViewBag.Message</h3>

<div class="container">

    <div class="col-md-8">

        <h3 class="h3">Tem dúvidas ou necessita marcar uma cosulta em pessoa?<br>Entre em contacto connosco!</h3>

        <h5 class="h4">&#8226; Email:</h5>

        <p style="font-weight: normal">ricardocavaco4@gmail.com<br></p>

        <h5 class="h4">&#8226; Telemóvel:</h5>

        <p style="font-weight: normal">+351 924 148 487<br></p>

        <h5 class="h4">&#8226; Morada:</h5>
        <address style="font-weight:normal">Rua 31 de Janeiro Lote 3, 2690-331, Portela da Azóia<br></address>

    </div>

    <div class="col-md-4">

        <form id="formulario">
            <div class="form-group" style="color:white">
                <h2 class="h2" style="font-size:24px;font-weight: bold">Horário de atendimento</h2>

                <h3>Das 09:30 até às 18:00<br /><br />Hora de almoço<br /><br />Das 12:00 até às 13:00</h3>

            </div>

        </form>

    </div>

    <div class="col-md-12" style="padding-bottom:70px">

        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA7MTcIcCYxptVQFKFTHMT2zUgBdC09iGE
    				&q=Rua+31+de+Janeiro,+Lote+3,+2690-331,+Portela+da+Azóia&maptype=satellite" allowfullscreen></iframe>

    </div>

</div>