﻿@{
    ViewBag.Title = "Clínica Veterinária | Início";
}

<div class="col-md-12">
    <div class="container logo">
        <h2> Clínica CET 30</h2>
    </div>
</div>

<div class="container">

    <div class="col-md-9">

        <div class="jumbotron">
            <h2>Bem-vindo/a à Clínica Veterinária CET 30!</h2>
            <p><br>Esta Clínica orgulha-se no seu serviço luxuoso e acolhedor aos os seus pacientes de quatro ou mais patas!</p>
            <p>Esta Clínica foi destacada como melhor clínica veterinária do ano 2017 pelos portugueses!<br>Venha descobrir porquê!</p>
            <div id="escolha">
                <img src="../../Imagens/Escolha Consumidor.png">
            </div>

        </div>

    </div>

    <aside class="col-md-3">

        <img id="asideImg" class="img-responsive" src="../Imagens/happyDog.png">
        <p>Junte-se a nós! Registe-se já! <button type="button" class="btn registo"> @Html.ActionLink("Registar Já!", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</button></p>

        </aside>

</div>