﻿@model ClinicaVeterinaria_RicardoCavaco.ViewModels.UserAlertViewModel

<table class="table">
    <tr>
        <th>
            Data
        </th>
        <th>
            Conteúdo
        </th>
        <th></th>
    </tr>
    @if(ClinicaVeterinaria_RicardoCavaco.Helpers.AlertHelper.GetAlertsByUserName() != null)
    {
    foreach (var item in ClinicaVeterinaria_RicardoCavaco.Helpers.AlertHelper.GetAlertsByUserName())
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfAlert)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Apagar", "DeleteAlert", new { id = item.ClientID })
                </td>
            </tr>
        }
    }
</table>
