﻿@model ClinicaVeterinaria_RicardoCavaco.Models.Alert

@{
    ViewBag.Title = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que deseja apagar este alerta?</h3>
<div>
    <h4>Apagar Alerta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlertType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlertType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfAlert)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfAlert)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Voltar ao índice", "Index")
        </div>
    }
</div>
