﻿@model ClinicaVeterinaria_RicardoCavaco.Models.Appointment

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>Consulta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Animal.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vet.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vet.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAppointment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HourAppointment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HourAppointment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AppointmentID }) |
    @Html.ActionLink("Voltar ao índice", "Index")
</p>
