﻿@model ClinicaVeterinaria_RicardoCavaco.Models.Appointment

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<h3 style="color:darkred">@ViewBag.Error</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Consulta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AppointmentID)

    <div class="form-group">
        @Html.LabelFor(model => model.DateAppointment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DateAppointment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.DateAppointment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HourAppointment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("HourAppointment", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.HourAppointment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnimalID, "AnimalID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AnimalID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AnimalID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.VetID, "VetID", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("VetID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.VetID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Voltar ao índice", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
