﻿@model IEnumerable<ClinicaVeterinaria_RicardoCavaco.Models.Appointment>

@{
    ViewBag.Title = "Índice";
}

<h2>Índice</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Animal.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vet.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAppointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HourAppointment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Animal.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vet.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourAppointment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @if (item.State == ClinicaVeterinaria_RicardoCavaco.Models.State.Espera)
                {
                    @Html.ActionLink("Aceitar", "Modify", new { id = item.AppointmentID })
                }
                <p></p>
                @Html.ActionLink("Apagar", "Delete", new { id = item.AppointmentID })
            </td>
        </tr>
    }

</table>
