﻿@{
    ViewBag.Title = "Confirmação de m-mail";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Obrigado por confirmar o seu e-mail! Por favor @Html.ActionLink("Clique aqui para entrar na sua conta.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
