﻿@model ClinicaVeterinaria_RicardoCavaco.ViewModels.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Registar";
}
<h2>@ViewBag.Title</h2>
<h3>Associe  a sua conta @ViewBag.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>Associação de conta:</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        Autenticou-se com sucesso por <strong>@ViewBag.LoginProvider</strong>!
        Por favor insira um nome de utilizador para este website e clique no butão <span class="label label-default">Registar</span>
        para concluir o registo.
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
