﻿@{
    ViewBag.Title = "Confirmação de e-mail necessária";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Por favor confira o seu e-mail para confirmar a mudança de palavra-chave.
    </p>
</div>
	
