﻿@{
    ViewBag.Title = "Confirmação da reposição da palavra-chave";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        A sua palavra-chave foi reposta. Por Favor @Html.ActionLink("clique aqui para entrar.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
