﻿@model ClinicaVeterinaria_RicardoCavaco.ViewModels.SendCodeViewModel
@{
    ViewBag.Title = "Enviar Código";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SendCode", "Account", new { ReturnUrl = Model.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)
    <h4>Enviar Código de Verificação</h4>
    <hr />
    <div class="row">
        <div class="col-md-8">
            Selecione o método alternativo de autenticação desejado:
            @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers)
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
