﻿@charset "utf-8";

body {
    background: #F2F2F2 !important;
    font-family: sans-serif !important;
    font-weight: bold !important;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 50px;
}

.navbar {
    min-height: 33px !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
}

.navbar-nav li a,
.navbar-brand {
    padding-top: 6px !important;
    padding-bottom: 0 !important;
    height: 33px !important;
}

.navbar-default {
    background-color: #157f8e !important;
    border-color: #76c3f7 !important;
}
    .navbar-default .navbar-brand {
        color: #F2F2F2 !important;
    }
        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #94d6f5 !important;
        }
    .navbar-default .navbar-text {
        color: #F2F2F2 !important;
    }
    .navbar-default .navbar-nav > li > a {
        color: #F2F2F2 !important;
    }
        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #94d6f5 !important;
        }
    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #94d6f5 !important;
        background-color: #76c3f7 !important;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #94d6f5 !important;
        background-color: #76c3f7 !important;
    }
    .navbar-default .navbar-toggle {
        border-color: #76c3f7 !important;
    }
        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #76c3f7 !important;
        }
        .navbar-default .navbar-toggle .icon-bar {
            background-color: #F2F2F2 !important;
        }
    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #F2F2F2 !important;
    }
    .navbar-default .navbar-link {
        color: #F2F2F2 !important;
    }
        .navbar-default .navbar-link:hover {
            color: #94d6f5 !important;
        }

/*--------------------------------------------CUSTOM-------------------------------------------*/

/*-------------------------Index-------------------------*/

#iconhome {
    color: #F2F2F2 !important;
    padding: 8px 10px 10px 0px;
    text-align: center;
    transform: scale(1.5);
}

.logo{
	background: url(../Imagens/Animals.png) no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	width: auto;
	height: 600px;
	padding: 140px 100px;

}

.logo h2{
	font-weight: bolder;
    font-family: sans-serif;
	font-size: 85px;
}

#escolha{
	text-align: center;
}

#escolha img:hover{
	transform: scale(2,2) rotate(360deg);
	transition: 0.8s transform;
}

#escolha img:not(hover){
	transform:  none;
	transition: 0.8s transform;
}

#footer{
	background: #157f8e;
	color: #F2F2F2;
	text-align: center;
	padding: 10px;
	margin-top: 10px;
}

/*Aside:*/

.registo{
	background: #157f8e;

}

.registo a{
		color: #f2f2f2;
	font-weight: bold;
}

.registo:hover{
	background: #76c3f7;
	transition: 0.7s background;
}

.registo:not(hover){
	background: #157f8e;
	transition: 0.7s background;
}

#asideImg{
	border-radius: 15px;
	width: 80%;
}


/*-------------------------Contacto-------------------------*/

#formulario{
	background: #157f8e;
	border-radius: 15px;
	padding: 10px;
}

#formulario button{
	background: #76c3f7;
	color: #157f8e;
}

#formulario button:hover{
	background: #A9D9F9;
	transition: 0.7s background;
}

#formulario button:not(hover){
	background: #76c3f7;
	transition: 0.7s background;
}

/*-------------------------Acerca-------------------------*/

/*Icons rede sociais*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    
    text-decoration: none !important;
    border-radius: 50%;
} 

.fa:hover {
    opacity: 0.7;
	transition: 1s opacity;
}

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
} 

/*RSS*/

.fa-rss {
  background: #ff6600;
  color: white;
}

/*G+´*/
.fa-google {
  background: #dd4b39;
  color: white;
}

#a1:hover, #a2:hover, #a3:hover, #a4:hover{
	color: white !important;
	transform: scale(2,2) rotate(360deg) matrix(2,2,2,2,2,2);
	transition: 1s transform;
}

#a1:not(hover), #a2:not(hover), #a3:not(hover), #a4:not(hover) {
    transform: none;
    transition: 0.8s transform;
}

#cinel{
	
	background: url(../Imagens/CINEL.jpg) no-repeat;
	background-size: cover;
	width: 100%;
	height: 400px;
}
